* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #9bc1f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 30%;
    max-width: 600px;
    background-color: #fff;
    border: none;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5%;
}
.container-img {
    width: 100%;
    text-align: center;
}
.container-img img {
    border-radius: 10%;
    max-width: 150px;
    width: 100%;
}
.container-info {
    margin: 10px 0;
    text-align: center;
}
.container-info h2 {
    color: #000;
    font-size: 12px;
}
h6 {
    text-align: center;
    margin: 10px 0;
    color: #666;
}